@* idk what exactly happenes but seems like telerik has some kind of problems/bugs with query routing or smth. 
    Spent whole day searching and trying some solutions but nothing helped. Support didnt answer in a week so 
    i had to make stock summary page that way in ajax-style instead of routing. Had better ideas about implementing *@

@page "/market"
@using StockPortfolio.Components; 
@using StockPortfolio.Components.Search; 
@using StockPortfolio.Models; 
@using StockPortfolio.Services;

<PageTitle Title="Market"/>


<div class="w-full">
    <MarketSearch @bind-SelectedStock="@mockStock"/>
    <StockDetailsVisualizer StockToVisualize="@mockStock">
        <NullDataPlaceholder>
            <h1>Select some stock to see the details</h1>
        </NullDataPlaceholder>
    </StockDetailsVisualizer>
</div>
      
@code{
    Stock mockStock = null;
}

