@page "/market"
@using StockPortfolio.Components.Charts; 
@using StockPortfolio.Components; 

<PageTitle Title="Market"/>


<div class="w-full">
    <div class="py-2 px-4 md:px-12">
        <div class="border border-light-secondary-300">
            <ChartNavigation />
            <MainChart/>
        </div>
    </div>
</div>

