@page "/reset"
@layout AuthenticationLayout
<PageTitle Title="My Stocks - Password Reset"/>

<div>
    <p class="pt-10 text-light-secondary-300 font-ubuntu font-bold text-2xl" align="center">Reset password</p>
    <form class="pt-10">
      <input class="input" type="text" align="center" placeholder="Username@gmail.com">
      <a class="submit" align="center">Send e-mail</a> 
      <p class="flex justify-center pt-6 text-base"><a class="text-light-tint sup-button pb-5" href="/signin">Back to sign in</a></p>
    </form>
</div>