@page "/settings"
<PageTitle Title="Settings"/>

<div class="mx-auto my-20">
  <h2 class="text-base text-gray-400">Postponed for later. Here should appear ability to change password and profile pic as well as some personal data</h2>
</div>