<footer class="flex flex-col justify-end text-center text-xl font-roboto font-medium h-6 bg-light-secondary-300 bg-opacity-20 border-t-2 border-light-secondary-300">
        <p class="mb-1 text-xs text-gray-600">&copy; @(DateTime.Now.Year) MyStocks</p>
</footer>