@using StockPortfolio.Components.Nav;
@inherits LayoutComponentBase
@inject DropdownNavStateContainer DropdownNavState
@layout TelerikLayout

<div>
    <Navbar/>
    <DropdownNav/>


    <div class="flex text-3xl text-center align-middle justify-items-center bg-light-background">
        @Body
    </div>
</div>