@inject DropdownNavStateContainer DropdownNavState

<div class="w-full flex justify-evenly items-center sticky my-auto h-40 pb-16 bg-waves-pattern bg-cover text-light-background">
    @* logo *@
    <div class="w-1/4 justify-start pl-10">
      <h1 class="text-4xl font-roboto font-black xl:text-5xl">My Stocks</h1>
      <a class="hidden lg:inline-flex items-center gap-1 opacity-40 text-black hover:text-light-highlight transition-all duration-200 ease-in-out" target="_blank" href="https://github.com/Glexe">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"/>
          </svg>
          <p class="text-xs">Source Code</p>
      </a>
    </div>

    @* desktop nav *@
    <div class="w-2/4 hidden lg:inline-flex text-center font-ubuntu font-medium text-xl justify-center gap-4">
            <NavBtn Href="/dashboard">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
                </svg>
                <p>Dashboard</p>
            </NavBtn>
  
            <NavBtn Href="/market">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
                </svg>
                <p>Market</p>
            </NavBtn>

            <NavBtn Href="/settings">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <p>Settings</p>
            </NavBtn>
    </div>

    @* mobile nav *@
    <div class="w-3/4 lg:hidden pr-10 flex justify-end">
        <div @onclick="ShowDropdownNav">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </div>
    </div>

    @* profile *@
    <div class="w-1/4 hidden lg:inline-flex justify-end pr-10">
        <div>
            <img src="../css/images/incognito-icon.png" class="cursor-pointer rounded-full w-16 h-16 border-4 border-exotic-primary" alt="selfie"/>
        </div>
    </div>
</div>

@code{
    void ShowDropdownNav(){
        Console.WriteLine(DropdownNavState.IsOpened);
        DropdownNavState.SetVisible(true);
    }
}